{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
    <!-- wrapper -->
    <div id="wrapper">
        <!-- content-holder -->
        <div class="content-holder">
            <!-- column-image  -->
            <div class="column-image">
                <div class="bg" data-bg="{% static 'images/bg/17.jpg' %}"></div>
                <div class="overlay"></div>
                <div class="column-title">
                    <h2>درباره من</h2>
                    <h3>در این صفحه شما می توانید درباره من و خدمات و دستاوردها و مهارت های من بیشتر بدانید.</h3>
                </div>
                <div class="ci_dec"><span></span></div>
            </div>
            <!-- column-image end  -->
            <!-- column-wrapper -->
            <div class="column-wrapper">
                <!--section  -->
                <section id="sec1">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3>داستان کوچک من</h3>
                            <h4>در این جا داستان من وجود دارد.</h4>
                            <div class="section-number">01.</div>
                        </div>
                        <div class="column-wrapper_item fl-wrap">
                            <div class="column-wrapper_text fl-wrap">
                                <p>{{ about.description }}</p>
                                <div class="inline-facts-holder fl-wrap">
                                    <!-- inline-facts -->
                                    {% for i in about.projects.all %}
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="{{ i.project_number }}"
                                                         data-num="{{ i.project_number }}">{{ i.project_number }}</div>
                                                </div>
                                            </div>
                                            <h6>{{ i.project_name }}</h6>
                                        </div>
                                    {% endfor %}
                                    <!-- inline-facts end -->
                                </div>
                                <a href="{% url 'portfo:portfolio' %}" class="btn fl-btn">پرتفولیوی من</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end  -->
                <!--section   -->
                <section id="sec2">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3>خدمات و قیمت‌ها</h3>
                            <h4>در اینجا شما می توانید خدمات و قیمت های ما را ببینید.</h4>
                            <div class="section-number">02.</div>
                        </div>
                        <div class="column-wrapper_item fl-wrap">
                            <div class="column-wrapper_text fl-wrap">
                                <!-- serv-wrap-->
                                <div class="serv-wrap fl-wrap">
                                    <!-- serv-item -->
                                    {% for i in service %}
                                        <div class="serv-item">
                                            <div class="serv-media">
                                                <img src="{{ i.image.url }}" alt="">
                                            </div>
                                            <div class="serv-text">
                                                <h4><a href="{% url 'home:contact' %}">{{ i.title }}</a></h4>
                                                <p>{{ i.description }}</p>
                                                <ul>
                                                    {% for category in i.categories.all %}
                                                        <li><a href="">{{ category.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="serv-price">قیمت:<span> {{ i.price }} تومان </span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- serv-item end -->
                                </div>
                                <!-- serv-wrap end -->
                                <p>پرازنت نک لئو وِنِناتی الیت سمپر الیکوئت اید اَک انیم. مائکناس نک می لئو. اتیام
                                    وِنِناتی اوت دوی نون هندریریت. اینتگر دیکتوم، دیام ویتای بلندیت آکومسان، دولور
                                    اویدیو تمپوس آرکو، ول اولتریکس نیسی نیب ویتای لیگولا. لورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپ. موربی واریوس لاسینیا وستیبولوم. علیکوام لوبورتیس
                                    فاسیلیسیس تلوس، این فاسیلیسیس اکس وهیکولا آک. این مالِسادا کوئیس تورپیس ول
                                    ویورا.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end  -->
                <!--section   -->
                <section id="sec3">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3>مهارت‌ها و دستاوردها</h3>
                            <h4>در اینجا مهارت ها و دستاورد های ما قرار دارد.</h4>
                            <div class="section-number">03.</div>
                        </div>
                        <div class="column-wrapper_item fl-wrap">
                            <div class="column-wrapper_text fl-wrap">
                                <div class="skillbar-box animaper">
                                    <!-- skill 1-->
                                    {% for i in about.skills.all %}
                                        <div class="skillbar_item">
                                            <div class="custom-skillbar-title"><span>{{ i.skill_name }}</span></div>
                                            <div class="skill-bar-percent">{{ i.skill_percent }}</div>
                                            <div class="skillbar-bg" data-percent="{{ i.skill_percent }}%">
                                                <div class="custom-skillbar"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end  -->
                <!--section -->
                <section id="sec4">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3> مشتریان و نظرات</h3>
                            <h4>در این جا نظرات مشتریان قرار دارد.</h4>
                            <div class="section-number">04.</div>
                        </div>
                    </div>
                    <div class="container small-container">
                        <div class="testimonilas-carousel">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide -->
                                    <div class="swiper-slide">
                                        <div class="testi-item_wrap">
                                            <div class="testi-item">
                                                <h3>لیزا میروفسکی</h3>
                                                <p>"تمام ژنراتورهای لورم ایپسوم در اینترنت تمایل دارند که قسمت‌های از
                                                    پیش تعریف شده را تکرار کنند. این اولین ژنراتور واقعی در اینترنت است
                                                    که از دیکشنری بیش از"</p>
                                                <a href="#" class="teti-link" target="_blank">از طریق توییتر</a>
                                            </div>
                                            <div class="bg" data-bg="{% static 'images/folio/5.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <!-- swiper-slide -->
                                    <div class="swiper-slide">
                                        <div class="testi-item_wrap">
                                            <div class="testi-item ">
                                                <h3>اندی اسمیت</h3>
                                                <p>"وسیبولوم اورسی فلیس، اولامکورپر نون کندیمنتوم نون، اولتریس اک ننک.
                                                    موریس نون لیگولا سوسپیت، وولپوتیت می آکومسان، دابیپوس فلیس."</p>
                                                <a href="#" class="teti-link" target="_blank">از طریق فیسبوک</a>
                                            </div>
                                            <div class="bg" data-bg="{% static 'images/folio/8.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <!-- swiper-slide -->
                                    <div class="swiper-slide">
                                        <div class="testi-item_wrap">
                                            <div class="testi-item">
                                                <h3>مری تراست</h3>
                                                <p>"تمام ژنراتورهای لورم ایپسوم در اینترنت تمایل دارند که قسمت‌های از
                                                    پیش تعریف شده را تکرار کنند. این اولین ژنراتور واقعی در اینترنت است
                                                    که از دیکشنری بیش از"</p>
                                                <a href="#" class="teti-link" target="_blank">از طریق توییتر</a>
                                            </div>
                                            <div class="bg" data-bg="{% static 'images/folio/20.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <!-- swiper-slide -->
                                    <div class="swiper-slide">
                                        <div class="testi-item_wrap">
                                            <div class="testi-item">
                                                <h3>سنتا سیمپسون</h3>
                                                <p>"وسیبولوم اورسی فلیس، اولامکورپر نون کوندیمنتوم نون، التریسس اک نونک.
                                                    موریس نون لیگولا سوسیپیت، وولوپتاته می اکومسان، دپیبوس فلیس. نولام
                                                    سد ساپین دوعی."</p>
                                                <a href="#" class="teti-link" target="_blank">از طریق فیسبوک</a>
                                            </div>
                                            <div class="bg" data-bg="{% static 'images/folio/18.jpg' %}"></div>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                </div>
                            </div>
                            <div class="single_slider_btn hsc-next"><i class="fal fa-angle-right"></i></div>
                            <div class="single_slider_btn hsc-prev"><i class="fal fa-angle-left"></i></div>
                        </div>
                        <div class="testi-contorls">
                            <div class="hero-slider-wrap_pagination-wrap2">
                                <div class="hero-slider-wrap_pagination hero-slider-pag"></div>
                            </div>
                            <div class="testi-counter">
                                <div class="ts_current">01</div>
                                <div class="ts_total"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end  -->
                <div class="clients-carousel-wrap">
                    <div class="clients-carousel">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-tailwise" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-tailwise-w.svg' %}"
                                             alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-nephos" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-nephos-w.svg' %}" alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-mizzle" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-mizzle-w.svg' %}" alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-vulk" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-vulk-w.svg' %}" alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-listkit" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-listkit-w.svg' %}"
                                             alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-ideko" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-ideko-w.svg' %}" alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-josie" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-josie-w.svg' %}" alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                                <!--client-item-->
                                <div class="swiper-slide">
                                    <a href="https://go.eltheme.ir/get-eltheme" target="_blank" class="client-item">
                                        <img width="100px" src="{% static 'images/clients/logo-eltheme-w.svg' %}"
                                             alt="">
                                    </a>
                                </div>
                                <!--client-item end-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-wrap">
                    <div class="container small-container">
                        <h4>آیا آماده سفارش پروژه خود هستید؟</h4>
                    </div>
                    <a href="{% url 'home:contact' %}" class="order_btn">تماس بگیرید</a>
                </div>
            </div>
            <!-- column-wrapper -->
            <!-- fixed-bottom-container -->
            <div class="fixed-bottom-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="page-scroll-nav">
                    <nav class="scroll-init">
                        <ul>
                            <li><a href="#sec1" class="act-sec"></a><span>درباره</span></li>
                            <li><a href="#sec2"></a><span>خدمات</span></li>
                            <li><a href="#sec3"></a><span>مهارت‌ها</span></li>
                            <li><a href="#sec4"></a><span>مشتریان</span></li>
                        </ul>
                    </nav>
                </div>
                <div class="progress-bar-wrap">
                    <div class="progress-bar color-bg"></div>
                </div>
            </div>
            <!-- fixed-bottom-container end-->
        </div>
        <!-- content-holder end -->
    </div>
    <!-- wrapper end -->
{% endblock %}