{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block content %}
    <!-- wrapper -->
    <div id="wrapper">
        <!-- content-holder -->
        <div class="content-holder" data-pagetitle="درباره ما">
            <!-- column-image  -->
            <div class="column-image">
                <div class="video-holder-wrap fs-wrapper">
                    <div class="media-container">
                        <div class="video-container">
                            <video autoplay playsinline loop muted class="bgvid">
                                <source src="{% static 'video/2.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
                <div class="column-title">
                    <h2>نمونه کارها</h2>
                    <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. ماسیناس این پولوینار نیکوی. نولا
                        فینیبوس لوبورتیس پولوینار.</h3>
                </div>
                <div class="ci_dec"><span></span></div>
            </div>
            <!-- column-image end  -->
            <!-- column-wrapper -->
            <div class="column-wrapper">
                <section id="sec1">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3>به نیویورک خوش آمدید</h3>
                            <h4>اما زمان، توده‌ای از خاردارها و تسهیلات را فراهم می‌آورد. در تخمیر، تسهیل‌های
                                توده‌ای</h4>
                            <div class="section-number">01.</div>
                        </div>
                    </div>
                    <div class="container small-container">
                        <div class="single-video_wrap">
                            <div class="bg" data-bg="{% static 'images/bg/4.jpg' %}"></div>
                            <div class="overlay"></div>
                            <div class="single-video_btn">
                                <div class="promo-video-btn" id="html5-videos" data-html="#video1"><span><i
                                        class="fas fa-play"></i></span></div>
                                <span class="single-video_btn_title">پخش ویدئوی پروژه</span>
                            </div>
                            <div style="display:none;" id="video1" class="popup_video" data-videolink="{% static 'video/2.mp4' %}">
                                <video class="lg-video-object lg-html5" controls preload="none">
                                    <source src="../index.html" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="single-post-container" style="margin: 30px 0 20px">
                            <p>لورم ایپسوم دولور سیت آمت، کانسکتتور آدیپیسکینگ الیت. پروین اورناره سم سد کوا مپس آلکویت
                                ویتائه اگت دولور. پروین او اولتریس لیبرو. آلیکام ارات ولپات. آنیان سمپر دوی آیید آکومسان
                                پلوینار. آلیکام کانگه مّولیس تورپی، آ ولپات متوس لوبرتس نک. اینتگر این مّولیس کوا. کریس
                                نیسل می، دابیوس آ آنته نان، آکومسان لوکتوس آوگه.
                            </p>
                        </div>
                        <!-- portfolio start -->
                        <div class="gallery-items gallery-items_single lightgallery  two-column big-padding sg_items scale_anim">
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/3.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/3.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/4.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/4.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/14.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/14.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/10.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/10.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/19.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/19.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{% static 'images/folio/6.jpg' %}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{% static 'images/folio/6.jpg' %}" alt="">
                                </div>
                            </div>
                            <!-- gallery-item end-->
                        </div>
                        <!-- gallery-items end -->
                    </div>
                    <div class="container small-container">
                        <div class="single_det_wrap">
                            <p>لورم ایپسوم دولور سیت آمت، کانسکتتور آدیپیسکینگ الیت. مائسناس این پولوینار نِک. نولا
                                فینیبوس لوبرتس پولوینار. دانک آ کانسکتتور نولا. نولا پوسوئره ساپیئن ویتائه لکتوس
                                سوپ‌سیت، ات پولوینار نیسی تینسیدنت. آلیکام ارات ولپات. کوریبیتر کنوالیس فریجیللا دیام سد
                                آلیکام. سد تمپور یاکولیس ماسا فاوکسبوس فاسیلسیس. این فرمنتوم فاسیلسیس ماسا، آ کونکوات
                                پوروس وویرا. پرزنت نِک لئو وِنناتیس الیت سمپر آلکویت آید آک اینیم. مائسناس نِک می لئو.
                                اتیام وِنناتیس اوت دوی نان هندریت. اینتگر دیکتوم، دیام ویتائه بلاندیت آکومسان، دولور
                                اودیو تمپور آرکُ. کریس ماتیس جودیشیوم پوروس سی آمت فرمنتوم آت نوس هینک پست‌هاک،
                                سی‌تی‌ینتیس پیروس آفروس.
                            </p>
                            <p> کریس ماتیس جودیشیوم پوروس سی آمت فرمنتوم آت نوس هینک پست‌هاک، سی‌تی‌ینتیس پیروس آفروس.
                                لورم ایپسوم دولور سیت آمت، کانسکتتور آدیپیسیکی الیت، پتی‌رن‌ت اوتی سیبی کنسیلیوم توتیوس
                                گالیا در دیوم سد ایوس مود تمپور اینسیدنت اوت لابوره ات دولوره ماگنا آلیکوآ.</p>
                            <div class="caption-wrap   det-anim">
                                <ul>
                                    <li>
                                        <span>موقعیت</span>
                                        <a href="#">نیویورک، آمریکا</a>
                                    </li>
                                    <li>
                                        <span>دسته‌بندی</span>
                                        <a href="#">سفر</a>
                                    </li>
                                    <li>
                                        <span>مدل</span>
                                        <a href="#">آستین انیش</a>
                                    </li>
                                    <li>
                                        <span>دوربین</span>
                                        <a href="#">کانن ۶دی</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="btn">مشاهده مورد</a>
                        </div>
                    </div>
                </section>
                <div class="order-wrap">
                    <div class="container small-container">
                        <h4>آیا آماده سفارش پروژه خود هستید؟</h4>
                    </div>
                    <a href="{% url 'home:about' %}" class="order_btn">تماس بگیرید</a>
                </div>
            </div>
            <!-- column-wrapper -->
            <!-- fixed-bottom-container -->
            <div class="fixed-bottom-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="aside_icon_wrap hbn_vis">
                    <div class="list">
                        <a href="portfolio.html">
                                <span>
                                <i class="b1 c1"></i><i class="b1 c2"></i><i class="b1 c3"></i>
                                <i class="b2 c1"></i><i class="b2 c2"></i><i class="b2 c3"></i>
                                <i class="b3 c1"></i><i class="b3 c2"></i><i class="b3 c3"></i>
                                </span></a>
                    </div>
                    <strong>بازگشت به آثار</strong>
                </div>
                <div class="progress-bar-wrap">
                    <div class="progress-bar color-bg"></div>
                </div>
            </div>
            <!-- fixed-bottom-container end-->
        </div>
        <!-- content-holder end -->
    </div>
    <!-- wrapper end -->
{% endblock %}