{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <!-- wrapper -->
    <div id="wrapper">
        <!-- content-holder -->
        <div class="content-holder">
            <!-- vertical-portfolio_wrap -->
            <div class="vertical-portfolio_wrap " id="port-scroll">
                <!-- portfolio start -->
                <div class="gallery-items big-padding lightgallery gi_left_al">
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/3.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">تنها در طبیعت</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/3.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item couples">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/8.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">زندگی در رویای من</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/8.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/10.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">برای همیشه جوان</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/10.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/4.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">طرف آفتابی بالا</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/4.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item couples">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/14.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">طرف دیگر من</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/14.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/6.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">یک زندگی شگفت‌انگیز</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/6.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/1.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">فقط خوشحال</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/1.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/19.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">باغچه شکوفا من</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/19.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/9.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">زندگی، اینجا می‌آیم</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/9.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{% static 'images/folio/18.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">سفر کردن سرگرم‌کننده است</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/18.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/17.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">سبز بروید</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/17.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item models nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/7.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">برای همیشه جوان</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/7.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/12.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">طرف آفتابی بالا</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/12.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item couples models">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/20.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">زوج دیوانه و دوست‌داشتنی</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/20.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item outdoor nature">
                        <div class="grid-item-holder  hov_zoom">
                            <img src="{% static 'images/folio/15.jpg' %}" alt="">
                            <div class="grid-item-info">
                                <h3><a href="portfolio-single.html" class="ajax">طرف دیگر من</a></h3>
                                <p>در اینجا می‌توانید توضیح اختیاری پروژه خود را قرار دهید</p>
                            </div>
                            <div class="pr_num"></div>
                            <a href="{% static 'images/folio/15.jpg' %}" class="grid-media-zoom   image-popup"><i
                                    class="far fa-search"></i></a>
                        </div>
                    </div>
                    <!-- gallery-item end-->
                </div>
                <!-- portfolio end -->
            </div>
            <!--  vertical-portfolio_wrap end -->
            <!-- fixed-bottom-container -->
            <div class="fixed-bottom-container f_bc_vis">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="filter-btn hid-filter">
                    <div class="filter-btn_container"></div>
                    <span class="filt-title">فیلترها</span>
                </div>
                <div class="folio-counter">
                    <div class="num-album"></div>
                    <div class=" all-album"></div>
                </div>
            </div>
            <!-- fixed-bottom-container  end-->
            <!-- gallery-filters-wrap-->
            <div class="gallery-filters-wrap">
                <div class="gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">همه موارد</a>
                    <a href="#" class="gallery-filter" data-filter=".nature"> طبیعت</a>
                    <a href="#" class="gallery-filter" data-filter=".models">مدل‌ها</a>
                    <a href="#" class="gallery-filter" data-filter=".couples"> زوج‌ها</a>
                    <a href="#" class="gallery-filter" data-filter=".outdoor"> بیرون از خانه</a>
                </div>
                <div class="gallery-filters-overlay"></div>
            </div>
            <!--gallery-filters-wrap end-->
        </div>
        <!-- content-holder end -->
    </div>
    <!-- wrapper end -->
{% endblock %}