{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <!-- wrapper -->
    <div id="wrapper">
        <!-- content-holder -->
        <div class="content-holder">
            <!-- vertical-portfolio_wrap -->
            <div class="vertical-portfolio_wrap " id="port-scroll">
                <!-- portfolio start -->
                <div class="gallery-items big-padding lightgallery gi_left_al">
                    <!-- gallery-item-->
                    {% for i in portfo %}
                        <div class="gallery-item nature">
                            <div class="grid-item-holder  hov_zoom">
                                {% if i.images.all %}
                                    <img src="{{ i.images.all.0.image.url }}" alt="">
                                {% endif %}
                                <div class="grid-item-info">
                                    <h3><a href="{{ i.get_absolute_url }}" class="ajax">{{ i.title }}</a></h3>
                                    <p>{{ i.short_description }}</p>
                                </div>
                                <div class="pr_num"></div>
                                {% if i.images.all %}
                                    <a href="{{ i.images.all.0.image.url }}" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- gallery-item end-->
                </div>
                <!-- portfolio end -->
            </div>
            <!--  vertical-portfolio_wrap end -->
            <!-- fixed-bottom-container -->
            <div class="fixed-bottom-container f_bc_vis">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="filter-btn hid-filter">
                    <div class="filter-btn_container"></div>
                    <span class="filt-title">فیلترها</span>
                </div>
                <div class="folio-counter">
                    <div class="num-album"></div>
                    <div class=" all-album"></div>
                </div>
            </div>
            <!-- fixed-bottom-container  end-->
            <!-- gallery-filters-wrap-->
            <div class="gallery-filters-wrap">
                <div class="gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">همه موارد</a>
                    <a href="#" class="gallery-filter" data-filter=".nature"> طبیعت</a>
                    <a href="#" class="gallery-filter" data-filter=".models">مدل‌ها</a>
                    <a href="#" class="gallery-filter" data-filter=".couples"> زوج‌ها</a>
                    <a href="#" class="gallery-filter" data-filter=".outdoor"> بیرون از خانه</a>
                </div>
                <div class="gallery-filters-overlay"></div>
            </div>
            <!--gallery-filters-wrap end-->
        </div>
        <!-- content-holder end -->
    </div>
    <!-- wrapper end -->
{% endblock %}