{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block content %}
    <!-- wrapper -->
    <div id="wrapper">
        <!-- content-holder -->
        <div class="content-holder" data-pagetitle="درباره ما">
            <!-- column-image  -->
            <div class="column-image">
                <div class="video-holder-wrap fs-wrapper">
                    <div class="media-container">
                        <div class="video-container">
                            <video autoplay playsinline loop muted class="bgvid">
                                <source src="{% static 'video/2.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
                <div class="column-title">
                    <h2>نمونه کارها</h2>
                    <h3>در این صفحه شما می توانید نمونه کارهای مختلف ما که در موضات و دسته بندی های مختلفی طبقه بندی شده است را ببینید.</h3>
                </div>
                <div class="ci_dec"><span></span></div>
            </div>
            <!-- column-image end  -->
            <!-- column-wrapper -->
            <div class="column-wrapper">
                <section id="sec1">
                    <div class="container small-container">
                        <div class="section-title fl-wrap">
                            <h3>{{ portfolio.title }}</h3>
                            <h4>{{ portfolio.short_description }}</h4>
                            <div class="section-number">01.</div>
                        </div>
                    </div>
                    <div class="container small-container">
                        <div class="single-video_wrap">
                            <div class="bg" data-bg="{% static 'images/bg/4.jpg' %}"></div>
                            <div class="overlay"></div>
                            <div class="single-video_btn">
                                <div class="promo-video-btn" id="html5-videos" data-html="#video1"><span><i
                                        class="fas fa-play"></i></span></div>
                                <span class="single-video_btn_title">پخش ویدئوی پروژه</span>
                            </div>
                            <div style="display:none;" id="video1" class="popup_video" data-videolink="{% static 'video/2.mp4' %}">
                                <video class="lg-video-object lg-html5" controls preload="none">
                                    <source src="../index.html" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="single-post-container" style="margin: 30px 0 20px">
                            <p>{{ portfolio.video_description }}</p>
                        </div>
                        <!-- portfolio start -->
                        <div class="gallery-items gallery-items_single lightgallery  two-column big-padding sg_items scale_anim">
                            <!-- gallery-item-->
                            {% for image in portfolio.images.all %}
                            <div class="gallery-item">
                                <div class="grid-item-holder  hov_zoom">
                                    <a href="{{ image.image.url }}" class="box-media-zoom   popup-image"><i
                                            class="fal fa-search"></i></a>
                                    <img src="{{ image.image.url }}" alt="Image for {{ portfolio.title }}">
                                </div>
                            </div>
                            {% endfor %}
                            <!-- gallery-item end-->
                        </div>
                        <!-- gallery-items end -->
                    </div>
                    <div class="container small-container">
                        <div class="single_det_wrap">
                            <p>{{ portfolio.description }}</p>
                            <div class="caption-wrap   det-anim">
                                <ul>
                                    <li>
                                        <span>موقعیت</span>
                                        <a href="#">{{ portfolio.location }}</a>
                                    </li>
                                    <li>
                                        <span>دسته‌بندی</span>
                                        <a href="#">{{ portfolio.category }}</a>
                                    </li>
                                    <li>
                                        <span>مدل</span>
                                        <a href="#">{{ portfolio.model }}</a>
                                    </li>
                                    <li>
                                        <span>دوربین</span>
                                        <a href="#">{{ portfolio.camera }}</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="" class="btn">مشاهده مورد</a>
                        </div>
                    </div>
                </section>
                <div class="order-wrap">
                    <div class="container small-container">
                        <h4>آیا آماده سفارش پروژه خود هستید؟</h4>
                    </div>
                    <a href="{% url 'home:about' %}" class="order_btn">تماس بگیرید</a>
                </div>
            </div>
            <!-- column-wrapper -->
            <!-- fixed-bottom-container -->
            <div class="fixed-bottom-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
                <div class="aside_icon_wrap hbn_vis">
                    <div class="list">
                        <a href="portfolio.html">
                                <span>
                                <i class="b1 c1"></i><i class="b1 c2"></i><i class="b1 c3"></i>
                                <i class="b2 c1"></i><i class="b2 c2"></i><i class="b2 c3"></i>
                                <i class="b3 c1"></i><i class="b3 c2"></i><i class="b3 c3"></i>
                                </span></a>
                    </div>
                    <strong>بازگشت به آثار</strong>
                </div>
                <div class="progress-bar-wrap">
                    <div class="progress-bar color-bg"></div>
                </div>
            </div>
            <!-- fixed-bottom-container end-->
        </div>
        <!-- content-holder end -->
    </div>
    <!-- wrapper end -->
{% endblock %}