{% load static %}
<header class="main-header">
    <div class="main-inner">
        <!--logo-->
        <a href="{% url 'home:home' %}" class="logo-holder"><img src="{% static 'images/logo-w.svg' %}" alt=""></a>
        <!--logo end-->
        <!-- sb-button-->
        <div class="sb-button c_sb"><span></span></div>
        <!-- sb-button end-->
        <!-- mobile nav -->
        <div class="nav-button-wrap">
            <div class="nav-button"><span></span><span></span><span></span></div>
        </div>
        <!-- mobile nav end-->
        <!--  navigation -->
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home:home' %}" class="act-link">خانه </a>
                    </li>
                    <li>
                        <a href="{% url 'portfo:portfolio' %}">نمونه‌کار </a>
                    </li>
                    <li>
                        <a href="{% url 'home:about' %}">درباره</a>
                    </li>
                    <li>
                        <a href="{% url 'portfo:blog' %}">اخبار</a>
                    </li>
                    <li>
                        <a href="{% url 'home:contact' %}">تماس‌ها</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- navigation  end -->
        <!-- share-wrapper-->
        <div class="share-wrapper">
            <div class="share-inner">
                <div class="share-container"></div>
            </div>
        </div>
        <!-- share-wrapper end -->
    </div>
</header>