{% load static %}
<div class="main-loader">
    <div class="ml-wrap">
        <div class="ml-mask"></div>
        <img src="{% static 'images/logo-w.svg' %}" alt="">
    </div>
    <div class="ml_images-wrap">
        <div class="ml_bg-item" style="top:-30px; inset-inline-start: 0">
            <div class="bg" data-bg="{% static 'images/folio/2.jpg' %}"></div>
        </div>
        <div class="ml_bg-item" style="bottom:  -20px; inset-inline-start: 50px">
            <div class="bg" data-bg="{% static 'images/folio/6.jpg' %}"></div>
        </div>
        <div class="ml_bg-item" style="top:30px; inset-inline-end: -120px">
            <div class="bg" data-bg="{% static 'images/folio/18.jpg' %}"></div>
        </div>
    </div>
</div>