{% load static %}
<div class="sidebar-wrap">
    <div class="sidebar-wrap-container">
        <!-- sb-widget-wrap-->
        <div class="sb-widget-wrap fl-wrap">
            <h3>آخرین آثار</h3>
            <div class="sb-widget  fl-wrap">
                <div class="categories_widget-wrap">
                    <!-- categories_widget_item-->
                    {% for i in portfo %}
                    <a class="categories_widget_item" href="{{ i.get_absolute_url }}">
                        <div class="categories_widget_item_img">
                            <img {% for image in i.images.all %} src="{{ image.image.url }}" {% endfor %} class="respimg" alt="">
                        </div>
                        <span class="categories_widget_title">{{ i.title }}</span>
                    </a>
                    {% endfor %}
                    <!-- categories_widget_item end-->
                </div>
            </div>
        </div>
        <!-- sb-widget-wrap end-->>
        <!-- sb-widget-wrap-->
        <div class="sb-widget-wrap fl-wrap">
            <h3>لینک‌های اجتماعی</h3>
            <div class="sb-widget    fl-wrap">
                <div class="sidebar-social fl-wrap">
                    <ul>
                        <li><a href="#" target="_blank">فیسبوک</a></li>
                        <li><a href="#" target="_blank">توییتر</a></li>
                        <li><a href="#" target="_blank">اینستاگرام</a></li>
                        <li><a href="#" target="_blank">تیک</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- sb-widget-wrap end-->
    </div>
</div>
<div class="sb-overlay"></div>